[submodule "thirdparty/bgfx.cmake"]
	path = thirdparty/bgfx.cmake
	url = https://github.com/JoshuaBrookover/bgfx.cmake
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/SDL-mirror"]
	path = thirdparty/SDL-mirror
	url = https://github.com/spurious/SDL-mirror
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/Box2D-cmake"]
	path = thirdparty/Box2D-cmake
	url = https://github.com/tobanteGaming/Box2D-cmake.git
[submodule "thirdparty/freetype2"]
	path = thirdparty/freetype2
	url = https://github.com/aseprite/freetype2.git
[submodule "thirdparty/miniaudio"]
	path = thirdparty/miniaudio
	url = git@github.com:dr-soft/miniaudio.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = git@github.com:nlohmann/json.git
